version: "3.9"

services:
  web:
    build: .
    container_name: menteflix
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    volumes:
      - .:/app
      - /app/node_modules
